.background-dark {
    background-color: #000000
}

.logo {
    text-align: center;
    margin-top: 8rem;
}

.container {
    margin-top: 3rem
}

.btn {
    color: #2a2a2a;
    font-size: 19px;
}

.center {
    text-align: center;
}

.pd {
    margin-bottom: 5rem
}

.status {
    padding: 10px;
    font-size: 1.3rem;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    z-index: -1;
}

.inputfile+label {
    color: black;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
}

.fullWidth {
    width: 18rem;
}

.icons {
    font-size: 40px;
}

.icons:hover {
    color: #2a2a2a
}

.input-field>label {
    color: #000;
    font-size: 18px
}

.pointer {
    cursor: pointer
}

#sucesfull {
    display: none
}